@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&family=Square+Peg&display=swap');

* {
    font-family: 'Kosugi Maru', sans-serif;
}

body {
  background-image: url("https://cdn.wallpapersafari.com/43/13/fRuMxW.jpg");
  background-size: cover;

}
.text-balck{
    color: black;
    font-size: 150%;
}
.flex {
    display: flex;
}

.logo {
    width: 4%;
}

.text-white {
    color: white;
    font-size: 200%;
}

.center {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    min-height: 200%;
}

.cute-hr {
    width: 50%;
    background-color: white;
}

#city {
    width: 90%;
    height: 30px;
    border-radius: 5px;
    border: 0;
      background-image: url("https://i.pinimg.com/originals/d3/11/3a/d3113afbce4c0581caaeffac2ec1cd70.jpg");
    color:white;
    
}

.text-whit {
    color: white;
    font-size: 150%;
}
#btnb{
    width: 10%;
    height: 39px;  
    background-image: url("https://i.pinimg.com/originals/d3/11/3a/d3113afbce4c0581caaeffac2ec1cd70.jpg");
    background-size: cover;
    border-radius: 5px;
}
.sumbit {
    width: 100%;
    height: 39px;
    border-radius: 5px;
    border: 0;
    color: white;
    border:0;
    font-size: 20px;
    background: none;
}

  
.box{
    width: 50%;
    height: 40%;
    background-size: cover;
background-image: url("https://www.nicepng.com/png/detail/901-9018627_jpg-cumulus-sky-beautiful-scenery-clouds-transprent-cloud.png");
    border-radius: 20px;
}
#map{
    color: rgb(63, 1, 21);
    text-decoration: underline;
    cursor:not-allowed;
}
.text-reds{
    color: red;
}
.mic{
    width: 20px;
    height: 20px;
    z-index: 9999;
}
.inputm{
    width: 40%;
    height: 35px;
    border-radius: 5px;
    border: 0;

    display: flex;
    align-items: center;
    justify-content: right;
    background-image: url("https://i.pinimg.com/originals/d3/11/3a/d3113afbce4c0581caaeffac2ec1cd70.jpg");
}
#icon{
  
    visibility: hidden;
}
#nfLoader {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 37px 0 0 -25px;
    width:0px;
    height:0px;
z-index: 9999;
color: white;
justify-content: center;
align-content: center;

  }
#loa{
    margin-top: 35px; 
    margin-left: 5px;
    visibility: hidden;
}
  #nfLoader:after {
    content: "";
    background-image: url(https://assets.nflxext.com/en_us/pages/wiplayer/site-spinner.png);
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: 50%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    position: absolute;
    margin: -6px;
    width: inherit;
    height: inherit;
    animation: nfLoader-spin 1.1s linear infinite,1!important;
    -webkit-animation: nfLoader-spin 1.1s linear infinite,1!important; 
  }
  @keyframes nfLoader-spin {
    100% {
      transform: rotate(360deg);
    }
  }
  @-webkit-keyframes nfLoader-spin {
    100% {
      -webkit-transform: rotate(360deg);
    }
  }
@media only screen and (max-width:485px){
    #nfLoader {
        position: absolute;
        top: 25%;
        left: 50%;
        margin: 37px 0 0 -25px;
        width:0px;
        height:0px;
        display: flex;
        justify-self: center;
        align-self: center;
    z-index: 9999;
    color: white;
    justify-content: center;
    align-content: center;
    
      }
    #btnb{
        width: 10%;
        height: 39px;  
        background-image: url("https://i.pinimg.com/originals/d3/11/3a/d3113afbce4c0581caaeffac2ec1cd70.jpg");
        background-size: cover;
        border-radius: 5px;
    }
    .sumbit {
        width: 100%;
        height: 30px;
        border-radius: 5px;
        border: 0;
        background-image: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.nicepng.com%2Fourpic%2Fu2t4o0q8u2a9w7w7_jpg-cumulus-sky-beautiful-scenery-clouds-transprent-cloud%2F&psig=AOvVaw2WI2iIc5-iRfGmGQ1eqXyR&ust=1651738137166000&source=images&cd=vfe&ved=0CAwQjRxqFwoTCNDsxZ2yxfcCFQAAAAAdAAAAABAD");
        color: white;
        font-size: 56%;
    }  
    #city {
        width: 90%;
        height: 30px;
        border-radius: 5px;
        border: 0;
        font-size: 50%;
    }
    .inputm{
        width: 70%;
        height: 35px;
        border-radius: 5px;
        border: 0;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: right;
    }
    .mic{
        width: 15px;
        height: 15px;
        z-index: 9999;
    }
    .box{
        width:90%;
        height: 30%;
      background-image: url("https://www.nicepng.com/png/detail/901-9018627_jpg-cumulus-sky-beautiful-scenery-clouds-transprent-cloud.png");
        border-radius: 20px;
    }
    
.text-white {
    color: white;
    font-size: 100%;
}
.text-whit {
    color: white;
    font-size: 90%;
}
#map{
    color: rgb(63, 1, 21);
    text-decoration: underline;
    cursor:not-allowed;
    font-size: 80%;
}
.text-reds{
    color: red;
    font-size: 20px;
}
.text-balck{
    color: black;
    font-size: 100%;
}
}
