@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&family=Square+Peg&display=swap');

* {
    font-family: 'Kosugi Maru', sans-serif;
}

body {
    background-color: #34b1eb;
}

.flex {
    display: flex;
}

.logo {
    width: 4%;
}

.text-white {
    color: white;
    font-size: 200%;
}

.center {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    min-height: 200%;
}

.cute-hr {
    width: 50%;
    background-color: white;
}

#city {
    width: 40%;
    height: 30px;
    border-radius: 5px;
    border: 0;
}

.text-whit {
    color: white;
    font-size: 150%;
}

.sumbit {
    width: 10%;
    height: 30px;
    border-radius: 5px;
    border: 0;
    background-color: #e8e8e8;
}
.box{
    width: 50%;
    height: 40%;
    background-color: #8a8987;
    border-radius: 20px;
}
.a{
    color: darkblue;
    text-decoration: underline;
}
#map{
    color: red;
    text-decoration: underline;
    cursor:not-allowed;
}